.navigation {
  display: flex;
  flex-direction: column;
  gap: 1lh;
  align-items: start;

  details {
    align-self: stretch;
  }

  a {
    color: var(--foreground0);
    text-decoration: none;

    &[aria-current] {
      color: var(--sky);
      background-color: var(--background1);
    }

    &:hover {
      text-decoration: underline;
    }

    &:not([href]) {
      text-decoration: line-through;
      cursor: default;
    }

    .docCount {
      float: right;
      color: var(--foreground0);
      background-color: var(--background0);
    }

    &:active,
    &:focus {
      background-color: var(--foreground0);
      color: var(--background0);
    }

    .warning {
      text-decoration: var(--red, currentcolor) wavy underline;
      display: inline-block;
    }
  }

  pre {
    display: inline-block;
  }
}
