.component-view {
  display: flex;
  flex-direction: column;
  gap: 1lh;

  .space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  @media (width > 500px) {
    .space-between {
      flex-direction: row;
    }
  }
}
