@layer component {
  table.table {
    .sort-link {
      color: currentColor;
    }

    [aria-sort] {
      a {
        display: inline-block;
      }

      > [aria-hidden="true"]::after {
        display: inline-block;
        content: "▼"
      }

      > [aria-hidden="true"]::after {
        transform: rotate(180deg);
      }
    }
  }
}
